#liner {
        background: url("lineral.jpg");
    }

    #line {
        background: url("line.jpg");
    }

    #calculous {
        background: url("Calculus.jpg");
    }

    #phsicus {
        background: url("phsicus.jpg");
    }

#phsicusKhan{
  background: url("phsicusKhan.jpg");
}
    #Door2C {
        background: url("Door2C.png");
    }

    #door2C {
        background: url("door2C.jpg");
    }

    #plan {
        background: url("plan.jpg");
    }

    #words {
        background: url("words.png");
    }

    #door2jQ {
        background: url("door2jQ.jpg");
    }
